*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container_cabecalio{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(133, 240, 133);
}
.container_conversas_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.container_conversas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 70vh;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.373);
    margin-bottom: 20px;
}
.conversas_recuperadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 15vh;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    color: black;
}
.img_perfil{
    width: 50px;
    margin-right: 20px;

}
.texto_apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;

}
.palavra01{
    color: rgb(238, 51, 18);
}
.palavra02{
    color: rgb(235, 182, 37);
}
.palavra03{
    color: rgb(238, 51, 18);
}
.icone-whatsapp{
    width: 50px;
    margin-bottom: 20px;
}